.fightarea {
    display: flex;
    gap: 1.25rem;
}

#char, #monster {
    flex: 1;
}

.lifebar {
    height: .625rem;
    border: .0625rem solid #333;
    border-radius: .3125rem;
}

.lifebar .bar {
    height: inherit;
    background-color: #ce0202;
    border-radius: .3125rem;
}

.log {
    border: .0625rem solid #999;
    height: 12.5rem;
    overflow-y: scroll;
}
